html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: block;
  }
.parallax-image{ 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:749px){
    .parallax-image{
        background-attachment: inherit;
    }
}

.text-shadow {
    text-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);
}

body{
    overflow-x: hidden;
    display: block;
}